.d1{
    background-color:#FF9E9E;
    margin:0px auto;
    }

.s1{
    background-color:#FFD1D1;
    font-weight: bold;
    font-size: 32px;
    font-family:Microsoft JhengHei;
}
.k1{
    background-color:#FF9E9E;
    font-weight: bold;
    font-size:24px;
    font-family:Microsoft JhengHei;
}